@use '../base/mixins' as m;
 
.hero {
    background-image: linear-gradient(rgba(36, 7, 67, 0.739), rgba(36, 7, 67, 0.739)), url('/src/img/background.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: calc(100vh - 80px);

    display: flex;
    justify-content: center;
    align-items: center;

    h1{
        color: #fff;
        font-size: 3rem;
        text-align: center;
        font-weight: 900;
    }

    &__text{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__text-element{
        color: $amarillo;
    }
}


#nosotros{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 2rem;
    padding-top: 10rem;
    padding-bottom: 10rem;

    &::before, &::after{
        content: '';
        width: 20%;
        height: 2px;
        background-color: $morado-principal;
        margin-top: .5rem;
    }
}

.contact {
    padding-top: 10rem;

    p{
        padding-bottom: 1rem;
        text-align: center;
    }

    h2 {
        font-size: 2rem;
        text-align: center;
    }
}