<header>
    <div class="container header">
        <a href="./index.html" class="header__logo">
            <span class="header__logo__text">LA MESA</span>
            <span>RIOBAMBEÑA</span>
        </a>
    
        <button class="header__hamburger" aria-label="Menú" aria-expanded="false">
            <i class="fa-solid fa-bars header__hamburger-icon"></i>
        </button>
        
        <nav class="header__nav active">
            <ul class="header__nav-list">
                <li><a href="./index.html">Inicio</a></li>
                <li><a href="./categoria.html">Restaurantes</a></li>
                <li><a href="#">Nosotros</a></li>
                <li><a href="#">Contacto</a></li>
                <li><a href="./enlaces.html">Referencias</a></li>
            </ul>
        </nav>
    </div>
    
</header>