<header>
    <div class="container header">
        <a href="./index.html" class="header__logo">
            <span class="header__logo__text">LA MESA</span>
            <span>RIOBAMBEÑA</span>
        </a>
    
        <button class="header__hamburger" aria-label="Menú" aria-expanded="false">
            <i class="fa-solid fa-bars header__hamburger-icon"></i>
        </button>
        
        <nav class="header__nav">
            <ul class="header__nav-list">
                <li><a href="./index.html"><i class="fa-solid fa-house"></i> Inicio</a></li>
                <li><a href="./categoria.html"><i class="fa-solid fa-utensils"></i> Restaurantes</a></li>
                <li><a href="#nosotros"><i class="fa-solid fa-person"></i> Nosotros</a></li>
                <li><a href="#"><i class="fa-solid fa-message"></i> Contacto</a></li>
                <li><a href="./enlaces.html"><i class="fa-solid fa-link"></i> Referencias</a></li>
            </ul>
        </nav>
    </div>
    
</header>