/*------------------------------------*\
  COLOR
\*------------------------------------*/

$morado-principal: #330447;
$morado-claro: #F1AFEE;
$amarillo: #FFCF0F;


/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Quicksand:wght@300..700&display=swap');
$principal-font: 'Lato', sans-serif;

