/*------------------------------------*\
  COLOR
\*------------------------------------*/

$morado-principal: #330447;
$morado-claro: #F1AFEE;
$amarillo: #FFCF0F;


/*------------------------------------*\
  TYPOGRAPHY
\*------------------------------------*/

$principal-font: 'Lato', sans-serif;

